$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
@mixin adaptiv-line($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 @media only screen and (min-width: 1920px){
    line-height: #{$pcSize + px};
  }
  @media only screen and (max-width: 1920px){
    line-height: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
   }
}


.b-popup{
    position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: none;
align-items: center;
 justify-content: center;
 background-color: rgba(0, 0, 0, 0.6);
 z-index: 999998;
 font-family: 'PT Sans Caption', sans-serif;
}



.popup_content{
  background: #F7FAFF;
display: flex;
flex-flow: column;
position: relative;
z-index: 50;
padding-top: 70px;
padding-bottom: 70px;
padding-right: 100px;
padding-left: 100px;
max-width:754px;
min-width: 355px;

@media only screen and (max-width:740px){
width: 90%;
padding: 50px;
min-width: inherit;

}
@media only screen and (max-width:580px){
width: 90%;
}
@media only screen and (max-width:450px){
  width: 95%;
  padding: 30px 15px;

}

  .popup_exit{
    width: 50px;
    height: 50px;
    background: #FD622A;
  border-radius: 90px;
    top:20px;
      right: 20px;
      position: absolute;
      text-align: center;
      color: black;
      font-size: 40px;
      font-weight: 400;
      place-items: center;
      place-content: center;
      display: flex;
      transition: 0.3s;
      color: white;
      &:hover{
        box-shadow: 5px 15px 27px #FD622A;

      }
      @media only screen and (max-width:650px){
width: 40px;
height: 40px;
}
@media only screen and (max-width:500px){
  width: 35px;
  height: 35px;
  font-size: 35px;

}
@media only screen and (max-width:420px){
top: 10px;
right: 10px;
}
@media only screen and (max-width:350px){
  width: 30px;
  height: 30px;
  font-size: 30px;
}
    &:hover{
opacity: 0.8;
    }

  }
  .popup_content_name{
    font-weight: 900;
    font-size: 40px;
    @include adaptiv-font(40,22);
    line-height: 70px;
    @include adaptiv-line(70,37);
    text-align: center;
    color: #483A3A;
  }
  .popup_item{
    margin-bottom: 20px;
    @include adaptiv-font(35,22);

    @include adaptiv-line(40,28);
    @media only screen and (max-width:600px){
      margin-top: 15px;
margin-bottom: 0px;
}
  }
.popup_description{
font-weight: 600;
font-size: 36px;
@include adaptiv-font(30,18);
line-height: 130%;
text-align: center;
color: black;
margin-top: 5px;
font-family: Gilroy;
}

  form{
    margin-top: 45px;

    @media only screen and (max-width:600px){
margin-top: 25px;
}
.popup_margin{
  margin-top: 30px;
  margin-bottom: 30px;
  @media only screen and (max-width:550px){
    margin-top: 15px;
    margin-bottom: 0px;

}
}

.popup_form_input{
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width:550px){
flex-flow: column;
}
}
.address{
  width: 100% !important;
}
input{
  @media only screen and (max-width:550px){
width: 100%;
}
&:not(:last-child){
  @media only screen and (max-width:550px){
  margin-bottom: 15px;
}
}
  font-family: Gilroy;
  width: 47.3%;
  font-size: 20px;
line-height: 24px;
background: white;
border: 1px solid #FD622A;

box-sizing: border-box;
border-radius: 8px;
padding:20px;

@media only screen and (max-width: 400px){
width: 100%;
max-width: inherit;
min-width: inherit;
padding: 18px 20px;
}
&::placeholder{

}

}

    .popup_content_form_input{

      button{
        cursor: pointer;
        font-family: Gilroy;
        margin-top: 33px;
        margin-left: 32px;
        width: max-content;
        display: flex;
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding:12px 36px;
  background: #FD622A;
  border-radius: 8px;
  transition: 0.3s;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  &:hover{
    box-shadow: 0px 7px 15px #fd622a;
  
  }
        @media only screen and (max-width:550px){
        margin-top: 20px;
      }
        
      }


  }
  }

}
.closePopupThanks{
  cursor: pointer;
  font-family: Gilroy;
  margin-top: 33px;
  margin-left: 32px;
  width: max-content;
  display: flex;
color: white;
font-weight: 700;
font-size: 20px;
text-transform: uppercase;
padding:12px 36px;
background: #FD622A;
border-radius: 8px;
transition: 0.3s;
margin-left: auto;
margin-right: auto;
border: 0px;
&:hover{
box-shadow: 0px 7px 15px #fd622a;

}
  @media only screen and (max-width:550px){
  margin-top: 20px;
}
  }
.closePop{

  margin-top: 10px;
  border: 3px solid #dc0303;
  background-color: #dc0303;
  width: 100%;
  padding:20px 0px;
  font-size: 21px;
  @include adaptiv-font(21,18);
  font-family: "MazdaTypeCyrillic";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
   -webkit-transition: ease 0.3s;
   transition: ease 0.3s;
   position: relative;
   display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     @media only screen and (max-width: 600px){
       padding:18px 0px;
   }
     &:hover{
       background-color: black;
       border: 3px solid #dc0303;
     }
  &:after{
    content: '';
      display: block;
      width: 30px;
        height: 200px;
        opacity: 0.5;
      margin-left: 60px;
      background: linear-gradient(270deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.8),hsla(0,0%,100%,0)) no-repeat -2px 0;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3ffffff',GradientType=0 );
      position: absolute;
      top: -40px;
        left: -40px;
      z-index: 1;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.1s;
      transition: all 0.1s;
      -webkit-animation-name: slideme;
      animation-name: slideme;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-delay: 0.05s;
      animation-delay: 0.05s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;

  }
}
